<header>
  <h1><a href="#">Writing made minimal.</a></h1>
  <h2>A single-page publishing tool written in JavaScript.</h2>
</header>

<section>
<%= content %>
</section>

<footer>
  <p>Published with <a href="http://github.com/tristandunn/writing">Writing</a> by <a href="http://tristandunn.com">Tristan Dunn</a>.</p>
</footer>
