@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,900);

p,
h1,
h2,
pre,
body,
header,
article,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header,
footer,
article,
section {
  display: block;
}

body {
  background: #FFF;
  color: #555;
  width: 704px;
  margin: 0 auto;
  padding: 32px;
  font-family: "Gentium Book Basic", Helvetica, Arial, Sans-serif;
  line-height: 1;
}

a {
  background: inherit;
  color: #000;
}

body > header {
  margin: 0 0 32px 0;
  padding: 0 0 32px 0;
  border-bottom: 1px solid #EEE;
  text-align: center;
}

body > header h1 a {
  background: inherit;
  color: #000;
  font-size: 28px;
  text-decoration: none;
  word-spacing: -1px;
  letter-spacing: 0;
}

body > header h2 {
  background: inherit;
  color: #888;
  padding: 4px 0 0 0;
  font-size: 14px;
  font-style: italic;
}

body > section article {
  margin: 0 0 32px 0;
}

body > section article header h1 a {
  background: inherit;
  color: #000;
  font: 900 36px "Merriweather";
  letter-spacing: -1px;
  text-decoration: none;
}

body > section article header h2 {
  margin: 4px 0 12px 0;
  font: 11px "Merriweather";
}

body > section article header h2 a {
  background: inherit;
  color: #555;
}

body > section article p {
  margin: 16px 0 0 0;
  font: 14px/1.8 "Merriweather";
}

body > section article p:hover a {
  background: #FFA;
  color: #000;
}

body > section article .highlight {
  margin: 16px 0 0 0;
  padding: 16px;
  font: 12px/1.6 "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Monaco", Courier, monospace;
}

body > footer {
  margin: 32px 0 0 0;
  padding: 32px 0 0 0;
  border-top: 1px solid #EEE;
}

body > footer p,
body > footer p a {
  background: inherit;
  color: #666;
  font-size: 14px;
}

body > footer p a:hover {
  background: inherit;
  color: #000;
}




.highlight {
  background: #262626;
  color: #EBEFE7;
  text-shadow: 0 -1px 1px #262626;
}

.highlight .cm-attribute  { color: #00C; }
.highlight .cm-atom       { color: #C2B470; }
.highlight .cm-bracket    { color: #EBEFE7; }
.highlight .cm-builtin    { color: #FF9E59; }
.highlight .cm-comment    { color: #666; }
.highlight .cm-def        { color: #FFF; }
.highlight .cm-error      { color: #9D1E15; }
.highlight .cm-header     { color: #A0A; }
.highlight .cm-hr         { color: #999; }
.highlight .cm-keyword    { color: #599EFF; }
.highlight .cm-link       { color: #00C; }
.highlight .cm-meta       { color: #738C73; }
.highlight .cm-number     { color: #B35E4D; }
.highlight .cm-operator   { color: #92A75C; }
.highlight .cm-property   { color: #92A75C; }
.highlight .cm-qualifier  { color: #555; }
.highlight .cm-quote      { color: #090; }
.highlight .cm-string     { color: #BCD279; }
.highlight .cm-string-2   { color: #F50; }
.highlight .cm-tag        { color: #669199; }
.highlight .cm-variable   { color: #D9BF8C; }
.highlight .cm-variable-2 { color: #669199; }
.highlight .cm-variable-3 { color: #FFF; }
