<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">

  <title>Writing made minimal.</title>

  <style><%= css %></style>

  <% Dir["posts/*.markdown"].each do |post| %>
  <script type="text/post" src="<%= post %>">
  <%= File.read(post).chomp %>
  </script>
  <% end %>

  <script><%= javascript %></script>
</head>
<body>



</body>
</html>
