<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">

  <title>Writing made minimal.</title>

  <style><%= css %></style>
</head>
<body>

<header>
  <h1><a href="#">Writing made minimal.</a></h1>
  <h2>A single-page publishing tool written in JavaScript.</h2>
</header>

<section>
</section>

<footer>
  <p>Published with <a href="http://github.com/tristandunn/writing">Writing</a> by <a href="http://tristandunn.com">Tristan Dunn</a>.</p>
</footer>

<% Dir["posts/*.markdown"].each do |post| %>
<script type="text/post" src="<%= post[1..-1] %>">
<%= File.read(post).chomp %>
</script>
<% end %>

<script><%= javascript %></script>

</body>
</html>
